[submodule "Submodules/dff3c8a487c73c042efa086a8fc68bd3"]
	path = Submodules/SSCO
	url = https://gist.github.com/donn/dff3c8a487c73c042efa086a8fc68bd3
[submodule "Submodules/RE-flex"]
	path = Submodules/RE-flex
	url = https://github.com/Genivia/RE-flex
